{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">Inventory Management</h2>
                    <h5 class="text-muted">Edit {{ product }} Inventory</h5>
                <hr>
            </div>
            <p>Enter positive number to add to current total at location or create inventory at new location</p>
            <p>Enter negative number to subtract from current total at location or create negative inventory at new location</p>
        </div>
        <div class="row">
            <div class="col-12 col-md-10">
                <form method="POST" action="{% url 'add_inventory' product.id %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ inventoryform | crispy }}
                    <div class="text-end">
                        <a href="" class="btn btn-grey-outline rounded">Cancel</a>
                        <input class="btn btn-grey rounded" type="submit" value="Add Inventory"></input>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}