{% extends "base.html" %}
{% load static %}

{% block content %}
<h3 class="text-center mt-1 display-3">Inventory Management System Contents</h3>
<hr>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">SKU</th>
                    <th scope="col">Weight (kg)</th>
                    <th scope="col">Value (€)</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Location</th>
                    <th scope="col">Notes</th>
                </tr>
                </thead>
                <tbody>
                    {% for p in products %}
                    <tr>
                        <th scope="row">{{ p.id }}</th>
                        <td>{{ p.name }}</td>
                        <td>{{ p.SKU }}</td>
                        <td>{{ p.weight }} kg</td>
                        <td>€ {{ p.value }}</td>
                        <td>
                        {% for i in inventory %}
                            {% if i.product.id is p.id %}
                                {{ i.quantity }}
                            {% endif %}
                            <br>
                        {% endfor %}
                        </td>
                        <td>
                            {% for i in inventory %}
                                {% if i.product.id is p.id %}
                                    {{ i.location }}
                                {% endif %}
                                <br>
                            {% endfor %}
                            </td>
                        <td>{{ p.notes }}</td>
                        <td><a class="text-warning"><small>Edit</small></a>/<a class="text-danger"><small>Delete</small></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}